<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ root_url }}/blog/categories/Java">Java</a></li>
  <li><a href="{{ root_url }}/blog/categories/iOS">iOS</a></li>
  <li><a href="{{ root_url }}/blog/categories/Algorithm">Algorithm</a></li>
  <li><a href="{{ root_url }}/blog/categories/SQL">SQL</a></li>
  <li><a href="{{ root_url }}/blog/categories/Others">Others</a></li>
  <li><a href="{{ root_url }}/aboutme">About me</a></li>
</ul>
